.DS_Store
__pycache__

# env
.env

# airflow
airflow.cfg
airflow.db
airflow-webserver.pid
standalone_admin_password.txt
webserver_config.py

# logs
**/logs/dag_processor_manager
**/logs/scheduler
**/logs/dag_id=*